# Core web framework
Flask==3.0.3
Flask-Cors==4.0.1

# Quantum computing
qiskit==1.1.1
qiskit-aer==0.14.2
numpy==1.26.0
matplotlib==3.8.0

# Blockchain interaction
web3==6.20.0
py-solc-x==2.0.2

# Environment variable management
python-dotenv==1.0.1
